.container {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #2176FF;
    font-family: sans-serif

  }

  .modal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    max-height: 100rem;
   
  }